.toggle-mode {
    color: white;
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 1rem;
    font-family: "Saira-Medium", sans-serif;
    font-weight: 300;
}

.toggle-mode:hover {
    color: var(--main-color);   
}

.toggle-mode .toggle-mode-i {
    font-size: 0.9rem;
}